@font-face {
  font-family: Karla;
  src: url(../fonts/Karla-Regular.ttf);
}

body{
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}
div.clearboth{
  clear: both;
}

#nav #menu-title{
  margin: 10px 0 0 20px;
  float: left;
}

#nav ul{
  display: block;
  list-style: none;
}
#nav ul li{
  float: left;
  font-weight: bold;
  margin: 80px 20px 0px 20px;
}

#nav a{
  text-decoration: none;
  color:#000;
}
#nav a:hover{
  color:#888;
}
#works-container a{
  text-decoration: none;
  color:#000;

}
div.works-card{
  position: relative;
  background-color: #eee;
  width:240px;
  height:165px;
  margin:24px 0px 0px 24px;
  float:left;
  padding:10px;
  cursor: pointer;
  font-weight: bold;
}



div.works-card:hover{
  opacity: 0.8;
  }

div.works-card div.card-image{
  background-position: center;
-moz-background-size:cover;
background-size:cover;
  width:240px;
  height:135px;
}
div.works-card div.card-title{
  font-weight: bold;
}
div.works-card div.card-desc{
  color: #666;
  font-size: 10px;
}