html, body {
  font-size: 12pt;
  font-family:'Hiragino Mincho ProN', serif;

}

div.title{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align:center;
	font-size:24pt;
}

div.sub-title{
	font-style: italic;
	font-family: Verdana, Arial, sans-serif;
	margin-bottom: 10px;
	text-align: center;
	font-size:12pt;
}

div.main{
	margin:0 auto;
	width: 1000px;
	display:none;
}
div.map{
	float: left;
	margin-right: 5px;
}

div.login{
	text-align: center;
	font-size:14pt;
}
div.user-info{
	text-align: center;

}
div.item-area{
	width:290px;
	height:700px;
	overflow: auto;
}
div.item-body{
	font-size: 10pt;
	overflow: hidden;
	text-align: left;
	border: 1px solid #ccc;
	width: 260px;
	height: 40px;
	margin-bottom: 5px;
	padding: 5px;
	cursor: pointer;

}
div.item-body:hover{
	background-color: #eee;
}
div.item-body img{
	float:left;
	width: 40px;
	height: 40px;
	margin-right:10px;
}

div.infowindow{
	width: 320px;  
	height: 480px;  
	font-family:'Hiragino Mincho ProN', serif !important;
}

div.iw-location-name{
	font-size: 14pt;
	font-weight: bold;
}

div.iw-caption{

}