html, body {
  font-size: 12pt;
  font-family:'Hiragino Mincho ProN', serif;

}

div.title{
	margin-top: 30px;
	margin-bottom: 10px;
	text-align:center;
	font-size:24pt;
}

div.sub-title{
	font-style: italic;
	font-family: Verdana, Arial, sans-serif;
	margin-bottom: 10px;
	text-align: center;
	font-size:12pt;
}

div.main{
	text-align: center;
	margin:0 auto;
	width: 1200px;
	display:none;
}
div.map{
	text-align: center;
	margin-top: 20px;
	float: left;
}

div.login{
	text-align: center;
	font-size:14pt;
}
div.user-info{

}
div.item-area{
	width:400px;
	height:800px;
	overflow: auto;
}
div.item-body{
	text-align: left;
	border: 1px solid #ccc;
	width: 390px;
	height: 160px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	cursor: pointer;

}
div.item-body:hover{
	background-color: #eee;
}
div.item-body img{
	float:left;
	width: 160px;
	height: 160px;
	margin-right:10px;
}