html, body {
  font-size: 12pt;
  font-family:'Hiragino Mincho ProN', serif;

}

div.title{
	margin-top: 30px;
	margin-bottom: 10px;
	text-align:center;
	font-size:24pt;
}

div.sub-title{
	font-style: italic;
	font-family: Verdana, Arial, sans-serif;
	margin-bottom: 10px;
	text-align: center;
	font-size:12pt;
}

div.map{
	text-align: center;
	margin-top: 20px;
}

div.login{
	text-align: center;
	font-size:14pt;
}
div.user-info{

}
div.main{
	text-align: center;
	margin:0 auto;
	width: 800px;
	display:none;
}
div.item-area{
}
div.item-body{
	text-align: left;
	border: 1px solid #ccc;
	width: 790px;
	height: 320px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;

}
div.item-body img{
	float:left;
	width: 320px;
	height: 320px;
	margin-right:10px;
}